.MainHJ {
  main {
    margin-top: 55px;
    background-color: #fafafa;
  }

  .wrapper {
    width: 935px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
