.JunggyooMain {
  main {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .mainContainer {
      display: flex;
      width: 945px;
    }
  }
}
