* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;

  .WeunContainer {
    .weunjeongMain {
      padding-top: 90px;
      display: flex;
      place-content: center;
      background-color: #fafafa;
    }
  }
}
