* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;

  .weunjeongMain {
    padding: 90px 252px;
    display: flex;
    align-items: stretch;
    background-color: #fafafa;
  }
}
