.right {
  width: 293px;
  margin-left: 28px;
  background-color: #fafafa;

  .fixed-right {
    position: fixed;

    .right-top {
      height: 85px;
      display: flex;
      padding: 15px;
      background-color: #fafafa;

      .profile2 {
        width: 60px;
        border-radius: 50%;
      }

      .info-name {
        margin-left: 12px;

        .info-bold {
          font-weight: 700;
          font-size: 14px;
        }

        .info-regular {
          margin-top: -8px;
          font-size: 12px;
          color: #8e8e8e;
        }
      }
    }

    .right-middle {
      width: 300px;
      height: 270px;
      border: 1px solid #e5e5e5;
      background-color: #ffffff;
      overflow-y: auto;
    }
  }

  .right-bottom {
    width: 300px;
    height: 210px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;

    .follow-black {
      font-size: 14px;
      cursor: pointer;
    }

    .list-follow {
      margin-top: 6px;
      font-weight: 700;
      font-size: 12px;
      color: #0095f6;
    }
  }

  .right-info {
    margin: 10px;

    span {
      font-size: 11px;
      color: #cacaca;
    }
  }

  //   right-middle&bottom 공통 적용
  .story {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;

    .story-gray {
      font-size: 14px;
      color: #8e8e8e;
    }

    .story-black {
      font-size: 14px;
      cursor: pointer;
    }
  }

  .list {
    display: flex;
    padding: 3px 22px;

    .profile3 {
      width: 40px;
      border-radius: 50%;
    }

    .info-name {
      margin-left: 12px;

      .list-bold {
        font-weight: 700;
        font-size: 14px;
      }

      .list-time {
        font-size: 12px;
        color: #8e8e8e;
        display: block;
      }
      .list-gray {
        font-size: 12px;
        color: #8e8e8e;
        display: block;
      }
    }
  }
}
