.Stories {
  height: 118px;
  padding: 16px 0 16px 10px;
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;

  ul {
    display: flex;
  }

  li {
    width: 80px;
    height: 80px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .story-border {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    background: linear-gradient(to left, orange, red);

    img {
      width: 56px;
      height: 56px;
      margin-top: 2.48px;
      margin-left: 2.48px;
      border-radius: 100%;
      border: solid 1.5px white;
    }
  }
}
