.Right {
  .feed-right {
    width: 294px;
    height: 750px;
    overflow: hidden;
    /* background-color: hotpink; */
  }

  .side-profile {
    width: 294px;
    height: 56px;
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    margin-top: 18px;

    .container {
      display: flex;
      align-items: center;
    }

    .user-img img {
      width: 61px;
      height: 61px;
      border-radius: 100%;
      border: 1px solid green;
    }

    .user-info {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-id {
        margin-bottom: 2px;
      }
    }
  }

  .side-underInfo {
    padding-top: 20px;
    font-size: 11px;
    color: grey;

    .quick-menu {
      display: inline-block;
      padding: 0;
      text-align: start;

      li {
        display: inline;
      }

      li:after {
        content: "﹒";
        letter-spacing: 0.2px;
        background: center center no-repeat;
      }

      li:last-child::after {
        content: "";
      }
    }

    .copyright {
      padding-top: 20px;
    }
  }
}
