

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
  height: 54px;
  width: 100vw;
  /* margin-top: 50px; */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 945px;
}

.navLogo {
  display: flex;
  align-items: center;
}

.navContainer ul {
  display: flex;
  padding: 0;
}

.navContainer ul li img,
.navContainer ul li svg {
  width: 22px;
  margin: 0 10px;
  box-sizing: content-box;
}

.navMenuContainer {
  display: flex;
  align-items: center;
}

.navMenu img {
  border-radius: 50%;
}

.navLogotext img {
  width: 103px;
  height: 29px;
}

nav .navSearch {
  width: 230px;
  height: 30px;
  text-align: center;
  color: lightgray;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

nav .navSearch::placeholder {
  color: #b0b1b3;
}