/* Navigation */
.Nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
  height: 54px;
  width: 100vw;

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 945px;

    .navLogo {
      display: flex;
      align-items: center;

      .navLogotext img {
        width: 103px;
        height: 29px;
      }
    }

    .navSearch {
      width: 230px;
      height: 30px;
      text-align: center;
      color: lightgray;
      background-color: #fafafa;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
    }

    .navSearch::placeholder {
      color: #b0b1b3;
    }
    .navMenuContainer {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        padding: 0;
      }

      ul li img,
      ul li svg {
        width: 22px;
        margin: 0 10px;
        box-sizing: content-box;
      }
    }

    .navMenu img {
      border-radius: 50%;
    }
  }
}
