/* Feeds */

.feeds {
  width: 614px;
  height: max-content;
  border: 1px solid #dbdbdb;
  margin: 0 28px 0 0;
  background-color: #ffffff;
}

/* Feed head */
.feedHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 614px;
  height: 60px;
}

.feedHead .meta {
  display: flex;
}

.profileImage {
  margin-right: 20px;
}

.profileImage img {
  width: 32px;
  border-radius: 50%;
}

.profileInfo .userName {
  font-weight: bold;
  font-size: 14px;
}

.profileInfo .location {
  font-size: 12px;
}
.feedHeadBtn img {
  width: 16px;
}

.feedMain img {
  max-width: 614px;
  width: 100%;
}

/* Feed Social */
.socialBtns {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.socialBtns button {
  all: unset;
  cursor: pointer;
  padding: 8px;
}

.socialBtns img {
  width: 24px;
}

.LikeNumberAndUsers {
  padding: 0 16px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.contents {
  padding: 0 16px;
}

.contents #userId {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.feedTime {
  padding: 0 16px;
  font-size: 10px;
  margin-bottom: 8px;
}

.replyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 16px;
}

.replyBox {
  display: flex;
  justify-content: space-between;
  height: 18px;
  font-size: 14px;
}

.replyUser {
  font-weight: bold;
}

.replyMsg {
  margin-left: 3px;
}

.replyInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-top: 1px solid #dbdbdb;
  height: 56px;
}

.replyForm {
  display: flex;
  align-items: center;
  max-width: 580px;
  width: 100%;
}

.replyInput .reply {
  border: none;
  box-shadow: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 18px;
}

.replyInput .replyUpBtn {
  all: unset;
  cursor: pointer;
  font-size: small;
  color: #c4dff6;
  width: 30px;
  height: 18px;
  font-size: 14px;
}